body {
  font-family: "KCCChassam";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  position: fixed;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    10.32deg,
    #2f244d 12.47%,
    #6e3690 25.69%,
    #ffece4 48.29%,
    #6e3690 73.87%,
    #2f244d 94.34%,
    #2f244d 94.34%
  );
}
.title_box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 21px;
}
.first_box {
  margin-top: 70px;
}
.second_box {
  margin-bottom: 30px;
}
.title_box_text-1 {
  margin-bottom: 23px;
}

.title_box_text-2 {
  margin-bottom: 7px;
}
.input_box {
  display: flex;
  margin-top: 27px;
  min-width: 360px;
  align-items: center;
  justify-content: space-between;
}

input::placeholder {
  color: #2f244d;
  font-family: "KCCChassam";
}

.text_input {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-width: 278px;
  height: 28px;
  padding: 10px;
  border: none;
  background-color: #c0c7ff;
  font-size: 20px;
}
.next_button {
  width: 53px;
  height: 48px;
  border-radius: 10px;
  background: #2f244d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#triangle {
  width: 0;
  height: 0;
  margin-left: 14px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #c0c7ff;
}
